%div#js-proyecto-header.information-container
  %div.number-header
    %span#js-proyecto-header-number
      = locals[:number]
  %div.information-header
    %span#js-proyecto-header-text
      %p
        = locals[:text]