%div{class: 'notification-area'}

%h1 Agregar Proyecto

= render 'proyecto_header', locals: {text: 'Escribí la información del proyecto de arquitectura', number: 1}

%br

= render 'form', locals: {display_participant_form: false}
