%h1 Sobre Nosotros
%section.article-content.clearfix.article-justified{:itemprop => "articleBody"}
  %h2
    %img{:alt => "Sobre Comunidad Nest", :height => "147", :src => "http://comunidadnest.com/images/FAQS/nosotros.png", :width => "1280", :class => 'img-responsive'}/
  %p &nbsp;
  %h2
    %span{:style => "background-color: #07d6d0;"} ¿Por qué nació Comunidad Nest?
  %p
    %span{:style => "font-size: 12pt;"} En el 2014 lanzamos Comunidad Nest porque creemos en la arquitectura y diseño latinoamericano. Porque en las venas de arquitectos, artistas y diseñadores de América Latina corre un gran talento y el mundo necesita saberlo. Porque queremos darle un espacio a las empresas relacionadas al mundo de la arquitectura y el diseño en América Latina para que difundan sus proyectos, diseños y productos en general.
  %h2
    %span{:style => "background-color: #07d6d0;"} ¿Cómo lo logramos?
  %p
    %span{:style => "font-size: 12pt;"} Creamos una plataforma en donde cada diseñador y cada empresa relacionada al mundo de la arquitectura y el diseño de América Latina pueda tener su espacio para darse a conocer y exponerle al mundo su trabajo, lo que hacen, sus diseños y sus productos por medio de perfiles profesionales y de empresas.
  %h2
    %span{:style => "background-color: #07d6d0;"} ¿Qué es Comunidad Nest?
  %p
    %span{:style => "font-size: 12pt;"} Una comunidad virtual donde los diseñadores latinoamericanos tienen un espacio para exponerle al mundo quienes son, qué es lo que hacen y que es lo que ofrecen.
  %p
    %span{:style => "font-size: 12pt;"} Una plataforma para generar links entre diseñadores, empresas, proveedores que abren un mundo de posibilidades laborales y de negocios.
  %p
    %span{:style => "font-size: 12pt;"} Un medio para facilitar la comunicación entre todos los participantes que ponen su grano de arena en el mundo de la arquitectura y el diseño de América Latina.
  %p &nbsp;
  %p
    \&nbsp;
    %img{:alt => "", :height => "125", :src => "http://comunidadnest.com/images/FAQS/origenes.png", :width => "1028", :class => 'img-responsive'}/
  %p &nbsp;
  %p
    %span{:style => "font-size: 12pt;"}
      La idea de crear Comunidad Nest se originó en
      = succeed "." do
        %strong Costa Rica
      José Enrique Herrero, el Director Ejecutivo de Comunidad Nest encontró hace algunos años que el 90% de los proyectos de diseño que se publicaban en la web eran de lugares que estaban fuera de Latinoamérica. Convencido que en su país y América Latina habían incontables diseñadores de gran talento comenzó con un blog en donde difundía diseños nacionales y ocasionalmente proyectos de otros países de América Latina. El blog tuvo gran aceptación ante el público y fue creciendo y adquiriendo nuevas funciones. Hoy es lo que tienen ante sus ojos.
  %p &nbsp;
  %p
    %span{:style => "font-size: 12pt;"}
      %img{:alt => "Equipo de Comunidad Nest", :src => "http://comunidadnest.com/images/FAQS/Equipo.png", :class => 'img-responsive'}/
