// Place all the styles related to the Blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.grid-images {
  .thumbnail {
    margin: 0;
  }
  
  .grid-sizer,
  .grid-item {
  	width: 30%;
  }

  .grid-item {
  	float: left;
    padding: 0;
  }  
}

.field_with_errors .message {
  color: #D00;
}

.spacer{
  width: 5px;
  height: auto;
  display: inline-block;
}

.star {
  color: #ffcc00;
}

.form-control-custom {
  min-width: 0;
  width: 450px;
}

.information-container{
  margin: 0;
}

.information-header{
  height: 60px;
  background-color: #eeeeee;
  text-align: center;
  width: 40%;
  font-size: 1em;
  color: black;
  vertical-align: middle;
  display: table-cell;
  //float: left;
}

.number-header{
  height: 60px;
  width: 8%;
  text-align: center;
  font-size: 3em;
  background-color: lightskyblue;
  color: white;
  //float: left;
}