// Place all the styles related to the Blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.grid-images {
  .thumbnail {
    margin: 0;
  }
  
  .grid-sizer,
  .grid-item {
  	width: 30%;
  }

  .grid-item {
  	float: left;
    padding: 0;
  }  
}

.field_with_errors .message {
  color: #D00;
}

