#teaser
  .image-container
    %img{:alt => "¿Por qué tener un perfil de empresa en Comunida Nest?", :src => "/templates/t3_bs3_blank/images/icono-profesionales-list.png", :title => "¿Por qué tener un perfil de profesional en Comunida Nest?"}
  .teaser-content
    %h2 ¿Por qué tener un perfil de profesional en Comunidad Nest?
    %ul
      %li Porque estamos camino a convertirnos en la comunidad más grande de diseño, arquitectura e ingeniería de Costa Rica y queremos que formés parte de ella.
      %li Para poder conectar tu perfil a los artículos o proyectos que publicamos en los que tu empresa estuvo involucrada.
      %li Para que los usuarios de la página puedan encontrar toda la información de tu empresa en un mismo lugar.
      %li
        %strong ¡Porque es 100% gratuito!
    .text-center
      %a.btn.btn-primary{:href => "/registrate?msg=crearcuenta"}
        Crear Perfil